apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  annotations:
    # image updater config
    argocd-image-updater.argoproj.io/image-list: todo-api=galaxy121996/todo-api
    argocd-image-updater.argoproj.io/todo-api.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
    spec:
      containers:
        - name: todo-api
          image: galaxy121996/todo.api:latest
          ports:
            - containerPort: 8080
